*.nf linguist-language=Nextflow

Dockerfile linguist-language=Dockerfile

*.sql linguist-detectable=true
*.sql linguist-language=SQL

*.R linguist-language=R
*.R linguist-detectable=true

*.py linguist-language=Python
*.ipynb linguist-language=Python

tests/* linguist-vendored
scripts/* linguist-vendored
