nextflow.enable.dsl=2

params {
  exposure    = null
  outcome     = null
  output_dir  = "./results"
  script_dir  = "./real_scripts"
}

process {
  executor = 'local'
  queueSize = 100
  cpus = 2
  memory = '4 GB'

  container = 'mrcope:latest'     
  withLabel:docker {
    container = 'mrcope:latest'
  }
}

docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g)' 
}
