nextflow.enable.dsl=2

params {
  exposure    = null
  outcome     = null
  output_dir  = "./results"
  script_dir  = "./Scripts"
}

process {
  executor = 'local'
  queueSize = 100
  cpus = 2
  memory = '12 GB'

  container = 'mrcope:latest'

  withName: gwas_processing {
    memory = '16 GB'
    cpus = 4
  }

  withLabel: docker {
    container = 'mrcope:latest'
  }
}

docker {
  enabled = true
  runOptions = "-v $PWD:/app"
}
